body {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 25px;
  padding-top: 0;
  padding-bottom: 0;
  border: 3px solid #808080;
  border-radius: 8px;
  width: 590px;
  margin-left: 25px;
}

#framevideo {
  border: none;
  border-width: 0;
}
